@model IEnumerable<BeachSys.Models.Armario>

@{
    ViewData["Title"] = "Armários";
}

<table id="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>PontoX</th>
            <th>PontoY</th>
            <th>Compartimentos disponíveis</th>
            <th>#</th>
            @if (ViewBag.EhAdmin)
            {
                <th>#</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var armario in Model)
        {
            <tr>
                <td>@armario.Nome</td>
                <td>@armario.PontoX</td>
                <td>@armario.PontoY</td>
                <td>@armario.CompartimentosDisponiveis</td>
                <td><a 
                asp-controller="Compartimento" 
                asp-action="Index" 
                asp-route-armarioID="@armario.ID" 
                class="btn btn-primary">
                Listar compartimentos</a></td>
                @if (ViewBag.EhAdmin)
                {
                <td><a 
                asp-controller="Compartimento" 
                asp-action="Criar" 
                asp-route-armarioID="@armario.ID" 
                class="btn btn-primary">
                Criar compartimento</a></td>
                }
            </tr>
        }
    </tbody>
</table>