@model IEnumerable<BeachSys.Models.Compartimento>

@{
    ViewData["Title"] = "Compartimentos";
}

<table id="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Comprimento</th>
            <th>Largura</th>
            <th>Disponivel</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compartimento in Model)
        {
            @if (compartimento.Disponivel)
            {
                <tr>
                    <td>@compartimento.Numero</td>
                    <td>@compartimento.Comprimento</td>
                    <td>@compartimento.Largura</td>
                    <td>Sim</td>
                    <td>
                        <form method="post" asp-controller="Compartimento" asp-action="Escolher">
                            <input name="numero" value="@compartimento.Numero" type="hidden" style="display: none;">
                            <button type="submit" class="btn btn-primary">Escolher</button>
                        </form>
                    </td>
                </tr>
            }
            else
            {
                <tr style="background-color: #ff8181;">
                    <td>@compartimento.Numero</td>
                    <td>@compartimento.Comprimento</td>
                    <td>@compartimento.Largura</td>
                    <td>Não</td>
                    <td>#</td>
                </tr>
            }
        }
    </tbody>
</table>