@model BeachSys.Models.Compartimento

@{
    ViewData["Title"] = "Meu compartimento";
}

@if(Model != null)
{
    <h1>Meu compartimento</h1>

    <div>
        <h4>Compartimento</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                Número
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt class = "col-sm-2">
                Comprimento
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Comprimento)
            </dd>
            <dt class = "col-sm-2">
                Largura
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Largura)
            </dd>
            <dt class = "col-sm-2">
                Armario
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Armario.Nome)
            </dd>
        </dl>
    </div>
    <div>
        <a 
        asp-controller="Compartimento" 
        asp-action="Desalocar"
        asp-route-compartimentoNumero="@Model.Numero">Desalocar</a>
    </div>
}
else
{
    <h1>Não alocou o seu?</h1>
    <div>
        <a asp-controller="Armario" asp-action="Index">Alocar</a>
    </div>
}